[Unit]
Description=uWSGI instance to serve Simple Text Encryption
After=network.target

[Service]
Environment=GIN_MODE=release
ExecStart=/var/www/ste-go/ste-go run

[Install]
WantedBy=multi-user.target
